--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
torchvision==0.17.1+cpu
openai
langgraph
langchain_core
pydantic
tenacity
psutil
httpx
beautifulsoup4
wikipedia
chromadb
sentence-transformers
streamlit
pandas
